<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HomePage</title>
    <style>

            .main{
	text-align: center;
	background-color: #fff;
	border-radius: 0px;
	width: 1000px;
	height: 350px;
	margin: auto;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}
        </style>
</head>
<body>
    <%- include('./nav.ejs')%>
<div class="main">
        <h1 align="left">A stroke, sometimes called a brain attack, occurs when something blocks blood supply to part of the brain or when a blood vessel in the brain bursts.</br>
            In either case, parts of the brain become damaged or die. A stroke can cause lasting brain damage, long-term disability, or even death.</br>
            Learn about the health conditions and lifestyle habits that can increase your risk for stroke.</br>
        <button onClick="window.location.href='/form';" class="btn btn-primary">Get your prediction</button>
     </div>
</body>
</html>