<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Results</title>
    <style>
        .main{
	text-align: center;
	background-color: #fff;
	border-radius: 20px;
	width: 700px;
	height: 350px;
	margin: auto;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}
    </style>
</head>
<body>
    <%- include('./nav.ejs')%>
    <div class="main">
        <h1>Your prediction of getting stroke is <%= prediction %>%</h1><br>
        <button onClick="window.location.href='/form';" class="btn btn-primary">Get another prediction</button>
    </div>
    
</body>
</html>